h1 {
  color: rgb(255, 100, 100);
  text-align: left;
  font-family: Agbalumo;
}
h2 {
    color: rgb(255, 100, 100);
    font-family: Agbalumo;
}

h3 {
    font-family: Agbalumo;
    color: rgb(200, 50, 50)
}

li {
    color: rgb(200, 50, 50);
    text-align: left;
    font-family: Agbalumo;
    font-size: 125%;
}

body {
    background-color: rgb(255, 200, 200);
}

header {
    background-color: rgb(140, 0, 0);
    padding-top: -1px;
    top: 0;
    position: relative;
    margin: 0px;
    font-family: Agbalumo;
    font-size: 30px;
    color: rgb(255, 100, 100);
    display: flex;
    align-items: bottom;
    gap: 30px;
    border-radius: 50px;
}

.main_container {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr)

}

.info {
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: rgb(255, 170, 170);
    border-radius: 50px;
    padding: 30px;
}

.characters {
    background-color: rgb(255, 150, 150);
    gap: 15px;
    padding: 15px;
    border-radius: 30px;
}
